* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root{
  height: 100vh;
  width: 100vw;
}

.App{
  font-family: "Zilla Slab Highlight", serif;
  text-shadow: 0px 4px 4px #00000040;
  height: 100vh;
  width: 100vw;
  margin: 0px auto;

  
}

.App .sname, .lname, .title1, .title2{
  color: #190a18;
  position: fixed;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 9.375rem;
  opacity: 40%;
  transform: rotate(41.54deg);
}

.App .sname {
  font-size: 18.75rem;
  top: 20vh;
  right: 2vw;
  animation-name: slideUp;
}

.App .lname  {
  bottom: 30vh;
  right: 20vw;
  animation-name: slideDown;
}

.App .title1 {
  top: 15vh;
  left: 5vw;
  animation-name: slideUp;
}

.App .title2 {
  top: 50vh;
  left: -3vw;
  animation-name: slideDown;
}

.Landing p{
  color: #190a18;
  position: fixed;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 9.375rem;
  opacity: 40%;
  animation-duration: 3s;
  transform: rotate(41.54deg);
  animation-iteration-count:initial;
}

.Landing .sname {
  font-size: 18.75rem;
  top: 20vh;
  right: 2vw;
  animation-name: slideUp;
}

.Landing .lname  {
  bottom: 60vh;
  right: 20vw;
  animation-name: slideDown;
}

.Landing .title1 {
  top: 15vh;
  left: 5vw;
  animation-name: slideUp;
}

.Landing .title2 {
  top: 50vh;
  left: -3vw;
  animation-name: slideDown;
}

a {
  text-decoration: none;
  color: #190a18;
}

.Landing {
  background-image: url("./assets/background.svg");
  animation-duration: 3s;
  animation-iteration-count:initial;
  animation-name: Up;
  transform: translateY(-100vh);
  opacity: 0%;
  }

.details{
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content:center;
  align-items: center;
  animation-duration: 4s;
  animation-iteration-count:initial;
  animation-name: open;
  background-color: rgb(45, 4, 28);
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(190, 122, 181);
}

#buttons{
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: fixed;
  bottom: -6%;
  right: 0%;
}

button{
  width:fit-content;
  padding: 2vh;
  height: 15vh;
  padding-bottom: 5vh;
  border-radius: 50%;
  background: linear-gradient(165deg,white, rgb(154, 14, 96), rgb(51, 2, 31), rgb(51, 2, 31));
  margin: -2%;
  font-size: 14px;
  color: rgb(227, 200, 219);
  font-family: "Rubik", sans-serif;  
  opacity: 50%;
  animation-duration: 5s;
  animation-iteration-count:initial;
  animation-name: opa;
}

button:hover{
  background: linear-gradient(165deg, rgb(176, 16, 109), rgb(25, 1, 16), rgb(153, 5, 96));
  z-index: 10;
}

.clicked{
  opacity: 100%;
  background: linear-gradient(165deg, rgb(176, 16, 109), rgb(25, 1, 16), rgb(153, 5, 96));
} 
  
#skills{
  z-index: 1;
  font-size: 14px;
  color: rgb(227, 200, 219);
  display: flex;  
  flex-wrap:wrap-reverse;
  width: 350rem;
  margin-bottom: 10vh;
}


#skills div{  
  border-top: rgb(223, 155, 195) 2px solid;
  padding: 6%;
  border-radius: 50%;
  background: linear-gradient(
  165deg,white, rgb(154, 14, 96), rgb(51, 2, 31), rgb(51, 2, 31));
  box-shadow: black, 5px 5px 3px; 
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills div:nth-child(odd){
  animation: balloons alternate infinite 15s;
  margin: -5vh;
}

#skills div:nth-child(even){
  animation: balloons alternate infinite 30s;
}

.hide{
 opacity: 0%;
 height: 0%;
 width: 0%;
}

.show{
  opacity: 100%;
  height: 100%;
  width: 100%;
}

#contact{
  height: 80%;
  display:flex;
  justify-content:center;
  align-items: left;
  flex-direction: column;
  padding: 2em;
  font-size: 20px;
  z-index: 1;
  overflow-y: scroll;
}

#contact p{
 animation-duration: 5s;
 animation-iteration-count:initial;
 animation-name: opa;
 margin: 2vh;

}

#link{
 color: rgb(226, 208, 225); 
}

#link:hover{
  color: rgb(182, 55, 161);
}

#menuWrapper {
  display: flex;
  width: 80.5rem;
  align-items: flex-start;
  gap: 4.6875rem;
  font-size: 2.8125rem;
  bottom: 3rem;
  padding-left: 2.5rem;
  position: fixed;
}

@keyframes slideUp {
  0% {
    transform: rotate(41.54deg) translateX(2em);
  }
  50%{
    opacity: 80%;
  }
  100%{
    opacity: 40%;
  }
}

@keyframes slideDown {
  0%{
    transform: rotate(41.54deg) translateX(-1em);
  }
  50%{
    opacity: 80%;
  }
  100%{
    opacity: 40%;
  }
}

@keyframes Up {
  0%{
    height: 130vh;
  }
  25%{
    transform: translateY(0vh);
    opacity: 100%;
    height: 130vh;
  }
  50%{
    transform: translateY(-50vh);
    opacity: 80%;
    height: 130h;
  }
  90%{
    transform: translateY(-100vh);
    opacity: 0%;
    height: 130vh;
  }
  100%{
    height: 0vh;
  }
}

@keyframes open {
  0%{
    position: fixed;
    opacity: 0%;
    height: 0%;
  }
  50%{
    position: fixed;
    opacity: 0%;
    height: 0%;
  }
  60%{    
    position: fixed;
    top: 30%;
    height: 30%;
  }
  100%{
    position: fixed;
    top: 0%;
    height: 100%;
  }
}

@keyframes opa {
  70%{
    opacity: 0%;
  }
  80%{    
    opacity: 50%;
    color: rgb(227, 117, 172);
  }
  100%{
    opacity: 100%;
  }
}


@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}