* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-image: url("./images/background.svg");
  height: 100vh;
  font-family: "Zilla Slab Highlight", serif;
  text-shadow: 0px 4px 4px #00000040;
}

h1,
h2,
h3,
h4 {
  color: #190a18;
  position: fixed;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 9.375rem;
  opacity: 40%;
  animation-duration: 5s;
  transform: rotate(41.54deg);
  animation-iteration-count:initial;
}

h1 {
  font-size: 18.75rem;
  top: 10vh;
  right: 2vw;
  animation-name: slideUp;
}

h2 {
  bottom: 20vh;
  right: 10vw;
  animation-name: slideDown;
}

h3 {
  top: 2vh;
  left: 5vw;
  animation-name: slideUp;
}

h4 {
  top: 40vh;
  left: -3vw;
  animation-name: slideDown;
}

a {
  text-decoration: none;
  color: #190a18;
}

#menuWrapper {
  display: flex;
  width: 80.5rem;
  align-items: flex-start;
  gap: 4.6875rem;
  font-size: 2.8125rem;
  bottom: 3rem;
  padding-left: 2.5rem;
  position: fixed;
}

@keyframes slideUp {
  0% {
    transform: rotate(41.54deg) translateX(2em);
  }
  50%{
    opacity: 80%;
  }
  100%{
    opacity: 40%;
  }
}

@keyframes slideDown {
  0%{
    transform: rotate(41.54deg) translateX(-2em);
  }
  50%{
    opacity: 80%;
  }
  100%{
    opacity: 40%;
  }
}